<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Event Scheduler App">
        <title>Events | Event Scheduler</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='edit-profile.css') }}">
    </head>
    <body>
        <header>
            <a href="/home" class="headtext">Event Planner</a>
            <div id="upperRight1">
                <a href="{{ url_for('view_profile') }}"id="helloUser"> Hello, {{user}}!</a>
                <a href="{{ url_for('signout') }}">Sign Out</a>
            </div>
        </header>

        <p id="formHeader">Edit Your Profile!</p>
        <div class = "formCover">
            <div class="form-field">
                <form method="POST" action="/edit-profile" enctype="multipart/form-data">
                    <div class="inputField"> {{form.firstname}} </div>
                    <div class="inputField"> {{form.lastname}} </div>
                    <div class="inputField"> {{form.email}} </div>
                    <div class="inputField"> {{form.password}} </div>
                    <div class="inputField"> {{form.confirmPassword}} </div>
                    <div id="imageField"> {{form.image}} </div>
                    <div id="submitField"> {{form.submit}} </div>
                </form>
            </div>    
        </div>


    </body>
</html>
