<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Create an account">
        <title>Event Scheduler</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>

        
        <h1>Create an account</h1>

        <form action="register" method="post">
            <p><label>First name </label></p><p>  <input type="text" name="first_name"/></p>
            <p><label>Last name </label></p><p>  <input type="text" name="last_name"/></p>
            <p><label>Email </label></p><p>  <input type="text" name="email"/></p>
           <p><label>Password </label></p><p><input type="text" name="password"/></p>
           <p><input type="submit" value="Sign up"/></p>
        </form>


        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}

        {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}

        <h3>Back to <a href="{{ url_for('login') }}"> login </a></h3>

    </body>
</html>